* text=auto eol=lf
PhysicalEngine/glad/** linguist-vendored
PhysicalEngine/glfw/** linguist-vendored
PhysicalEngine/glm/** linguist-vendored
PhysicalEngine/imgui/** linguist-vendored
PhysicalEngine/stb/** linguist-vendored

